{# @var plugin \bubalubs\craftinstagram\CraftInstagram #}
{# @var settings \bubalubs\craftinstagram\models\Settings #}

{% import '_includes/forms.twig' as forms %}

<h1>Settings</h1>

<p>First you need to create a Facebook App. You can do this by visiting the <a href="https://developers.facebook.com/apps/">Facebook Developers</a> page.</p>

<p>You can find your <strong>App ID</strong>, <strong>App Secret</strong> and <strong>Valid OAuth Redirect URIs</strong> on Facebook Developers -> App Settings -> Products -> Instagram Basic Display -> Basic Display. Then fill them in below.</p>

{{ forms.textField({ 
  label: 'Facebook App ID',
  id: 'appId',
  name: 'appId',
  required: true,
  value: settings.appId
}) }}

{{ forms.passwordField({ 
  label: 'Facebook App Secret',
  id: 'appSecret',
  name: 'appSecret',
  required: true,
  value: settings.appSecret
}) }}

{{ forms.submitButton({ label: 'Save' }) }}

<p>Before the next step, add the following to the <strong>Valid OAuth Redirect URIs</strong>:</p>

<pre>{{ plugin.getRedirectUrl() }}</pre>

{% if settings.appId and settings.appSecret %}
  <hr>

  <h1>Authenticate (OAuth)</h1>

  {% if settings.accessToken %}
    <p style="background:#16A34A;display:inline;padding:8px;color:white;border-radius:5px;"><strong>You are successfully authenticated with Instagram!</strong></p>
  {% else %}
    <p>After saving your Instagram App ID and Secret, you need to authenticate with Instagram to get an access token. Click the button below to authenticate.</p>

    <a href="{{ plugin.getAuthUrl() }}" class="btn">Authenticate with Instagram</a>
  {% endif %}
{% endif %}